@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Righteous", cursive;
  /* background-color: rgb(156, 154, 159); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(196, 222, 230) 0%,
    rgb(255, 255, 255) 41%,
    rgb(250, 252, 252) 43%
  );
}

.nev-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.logo1 {
  margin-left: 5%;
  color: rgb(84, 82, 91);
}

.logo-neg-ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  margin-top: 50px;
}

.nev-bar li {
  float: right;
  list-style: none;
}

.nev-bar li a {
  display: block;
  color: rgb (124, 117, 144);
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

.nev-bar li a:hover {
  background-color: transparent;
}

.nev-bar-p {
  margin-top: 1%;
  margin-right: 10%;
  color: rgb(124, 117, 144);
  font-size: 20px;
}

.nev-bar-button {
  background-color: white;
  color: red;
  width: 29px;
  height: 20px;
  border-radius: 5px;
  border-color: aliceblue;
}
